* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans';
    font-style: normal;
}

body {
    background: #f9fbfc;
    display: flex;
    flex-direction: column;
    line-height: 0;
    color: #FFFFFF;
}

/* Head */
body>header {
    background: #1d539e;
    flex-basis: 50vh;
}

h1 {
    margin-top: 10vh;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}

h1+p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 550px;
    margin-bottom: 65px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
}

/* Container com todos os planos */
.planos {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.planosContainer {
    width: 355px;
    min-height: 470px;
    color: #1E2338;
    background: #FFFFFF;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    flex-direction: column;
    display: flex;

    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    border-radius: 8px;
}

/* Para todos os containers de planos */
button {
    width: 100%;
    height: 49px;

    border: 1px solid #1D539E;
    border-radius: 10px;
    background: none;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 12px 24px;
    color: #1D539E;
    margin-top: 120px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1E2338;
}

/* botão do plano profissional */
.planos :nth-child(3) button {
    margin-top: 42px;
}

/* Linha de preços */
/* R$ 0 */
.preco span:first-child {
    font-size: 36px;
    line-height: 49px;
    color: #1E2338;
}

.planosContainer:nth-child(2) .preco span:first-child {
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
}

/* ,00 */
.preco {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

/* /mês */
.preco span:nth-child(3) {
    font-weight: 400;
    color: #828799;
}

.preco+p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0px 20px;
    color: #828799;
}

hr {
    height: 1px;
    border: 1px solid #EEEEEE;
}

.checkCondicoes {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #828799;

    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

.checkCondicoes p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}


img {
    margin-right: 15px;
}

/* margem da linha de preços free e profissional  */
.preco:nth-child(2n) {
    margin-top: 20px;
}

/* PLANO BÁSICO */
.planosContainer header {
    height: 76px;

    background: #FFCC29;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    border-radius: 8px 8px 0px 0px;

    display: flex;
    justify-content: space-between;
}

.planosContainer :nth-child(2) button {
    height: 51px;
    font-size: 20px;
    line-height: 27px;

    background: #1D539E;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 69px;
    margin-bottom: 44px;
}

.planosContainer:nth-child(2) {
    width: 355px;
    min-height: 490px;
}

.planosContainer:not(:nth-child(2)) {
    padding: 30px;
}

header+div {
    flex-direction: column;
    display: flex;
    padding: 10px 30px 0px 30px;
}

header h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1D539E;
    padding: 25px 30px;
}

/* texto popular */
header div {
    width: 94px;
    height: 32px;
    margin: 22px 20px;

    background: #1D539E;
    border-radius: 40px;
    color: #FFFFFF;

    padding: 8px 24px;
    gap: 10px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.planosContainer:nth-child(2) .checkCondicoes p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}